Flask
requests
gunicorn
# Dépendances pour PostgreSQL (Base de données stable et partagée)
psycopg2-binary
# Dépendances pour les API Google (Gmail, Gemini Auth)
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
